<!-- standard favicon -->
<link rel="shortcut icon" href="/artwork/favicon/favicon-32.ico" type="image/x-icon">
<!-- standard for Android and iOS -->
<link rel="apple-touch-icon" href="/artwork/favicon/icon.png">
<!-- non-retina iPhone pre iOS 7 -->
<link rel="apple-touch-icon" href="/artwork/favicon/icon-57.png" sizes="57x57">
<!-- non-retina iPad pre iOS 7 -->
<link rel="apple-touch-icon" href="/artwork/favicon/icon-72.png" sizes="72x72">
<!-- non-retina iPad iOS 7 -->
<link rel="apple-touch-icon" href="/artwork/favicon/icon-76.png" sizes="76x76">
<!-- retina iPhone pre iOS 7 -->
<link rel="apple-touch-icon" href="/artwork/favicon/icon-114.png" sizes="114x114">
<!-- retina iPhone iOS 7 -->
<link rel="apple-touch-icon" href="/artwork/favicon/icon-120.png" sizes="120x120">
<!-- retina iPad pre iOS 7 -->
<link rel="apple-touch-icon" href="/artwork/favicon/icon-144.png" sizes="144x144">
<!-- retina iPad iOS 7 -->
<link rel="apple-touch-icon" href="/artwork/favicon/icon-152.png" sizes="152x152">
<!-- Win8 tile -->
<meta name="msapplication-TileImage" content="/artwork/favicon/icon-144.png">
<meta name="msapplication-TileColor" content="#FC7C7C">
<!-- IE11 tiles -->
<meta name="msapplication-square70x70logo" content="tile-small.png">
<meta name="msapplication-square150x150logo" content="tile-medium.png">
<meta name="msapplication-wide310x150logo" content="tile-wide.png">
<meta name="msapplication-square310x310logo" content="tile-large.png">
